<?php
//-------------------------------------------------------------------------------------------------
// Connect parameters for your project
//-------------------------------------------------------------------------------------------------
if (getenv('APPLICATION_ENV')) {
    $env = getenv('APPLICATION_ENV');
} else {
    $env = "testing";
}

define ('HOST', 'localhost');
define ('USER', 'testuser');
define ('PASSWD', 'testpwd');
define ('DATABASE', 'testdb');

?>